

<%= link_to 'Back', @bug.project, class: 'btn btn-secondary mb-4' , style: ' color:white' %>
<div class="card">
  <div class="card-body">
    <h2 class="card-title mb-4">New Bug</h2>

    <%= render 'form' %>

  </div>
</div>

